<form role="form">
  <p>{{input type="text" value=title class="form-control"}}</p>
  <p>{{input type="text" value=excerpt class="form-control"}}</p>
  <p>{{textarea value=body class="form-control"}}</p>
</form>
